stages:
  - build
  - docker

variables:
  HARBOR_REGISTRY: harbor.dataknife.net
  HARBOR_PROJECT: library
  IMAGE_NAME: proxmox-ve-mcp
  DOCKER_TLS_CERTDIR: "/certs"

build:
  stage: build
  image: golang:1.23-alpine
  script:
    - apk add --no-cache make git
    - make build
  artifacts:
    paths:
      - bin/
    expire_in: 1 hour
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG'
  tags:
    - docker

publish:
  stage: docker
  image: docker:24.0.5-cli
  services:
    - docker:24.0.5-dind
  dependencies:
    - build
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
  before_script:
    - docker info
    - docker buildx create --use --name builder
    - echo "$HARBOR_PASSWORD" | docker login --username "$HARBOR_USERNAME" --password-stdin $HARBOR_REGISTRY
  script:
    - |
      # Build and push images with BuildKit
      TAGS="--tag $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:latest"
      TAGS="$TAGS --tag $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
      
      # Add version tag if tag exists
      if [ -n "$CI_COMMIT_TAG" ]; then
        TAGS="$TAGS --tag $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:$CI_COMMIT_TAG"
      fi
      
      docker buildx build --push $TAGS .
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG'
  tags:
    - docker
